body{
    background-color: rgb(244, 243, 243);
}
.errorText{
    color: red;
    font-size: 12px;
}
.boxWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.classListWrapper{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px 20px;
    margin: 10px 10%;
    padding: 2%;
}
a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}